<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" maxUrl="2097151"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="AminAmvalConnectionString" connectionString="Data Source=192.168.100.73;Initial Catalog=AminAmval;Persist Security Info=True;User ID=aminamval;Password=AminAmval" providerName="System.Data.SqlClient"/>
    <add name="itConnectionString" connectionString="Data Source=192.168.100.73;Initial Catalog=it;Persist Security Info=True;User ID=aminamval;Password=AminAmval" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
     
 <customErrors mode="Off"/>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages enableViewState="false" />
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="2097151" maxUrlLength="2097151"/>
  </system.web>
</configuration>